:root {
  --main-text-color: #2e2f42;
  --second-text-color: #434455;
  --accent-color: #4d5ae5;
  --bacground-color: #2e2f42;
  --title-color-text: #ffffff;
  --section-bacground-color: #f4f4fd;
  --project-bacground-color: #e5e5e5;
  --portfolio-bacground-color: #e7e9fc;
  --footer-text-color: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--second-text-color);
  background-color: var(--title-color-text);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

a {
  text-decoration: none;
}
span {
  color: var(--main-text-color);
}
img {
  display: block;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  display: block;
  border-bottom: 1px solid #e7e9fc;
}

.header-navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
  margin: auto;
  padding: 24px 0;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--accent-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-right: 76px;
}

.header-list {
  display: flex;
}

.header-list {
  list-style: none;
  text-decoration: none;
  color: var(--main-text-color);
  gap: 40px;
  padding: 24px 0;
}

.header-container {
  display: flex;
  align-items: center;
  padding-bottom: 35px;
}

.header-menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
  letter-spacing: 0.02em;
  display: block;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
  letter-spacing: 0.02em;
  display: block;
}

.header-menu-link:is(:hover, :focus) {
  color: #404bbf;
}

.header-contacts {
  font-size: 16px;
  line-height: 1.5;
  color: var(--second-text-color);
  letter-spacing: 0.02em;
  margin-left: auto;
}

.header-contacts-list {
  display: flex;
  gap: 40px;
}

.header-contacts-item {
}

.header-contacts-link {
  font-size: 16px;
  line-height: 1.5;
  color: var(--second-text-color);
}
.header-contacts-link:is(:hover, :focus) {
  color: #404bbf;
}
/*-------------------------------HERO--------------------------------------*/
.hero {
  background: var(--bacground-color);
  text-align: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--title-color-text);

  margin-bottom: 48px;
}

.hero-content {
  padding: 188px 0;
  max-width: 496px;
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-color-text);
  background: #4d5ae5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  margin: auto;
}

.hero-style-btn {
  display: block;
  justify-content: center;
  min-width: 169px;
  border-radius: 4px;
}

.hero-btn:is(:hover, :focus) {
  background-color: #404bbf;
}

/*-------------------------------ADVANTAGES--------------------------------------*/

.advantages {
  padding: 120px 0;
}

.advantages-container {
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.advantages-list {
  list-style: none;
  display: flex;

  gap: 24px;
}

.advantages-item {
  width: calc((100% - 72px) / 4);
}
.advantages-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding-bottom: 8px;
}
.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

/*-------------------------------PROJECT--------------------------------------*/
.project {
  padding-bottom: 120px;
}

.project-container {
  text-align: center;
}

.project-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--main-text-color);
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.project-list {
  list-style: none;
  display: flex;
  gap: 24px;
}
.project-item {
  background-color: var(--project-bacground-color);
}

/*-------------------------------TEAM--------------------------------------*/
.team {
  padding: 120px 0;
  background-color: var(--section-bacground-color);
}

.tem-container {
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-text-color);
  margin-bottom: 72px;
}
.team-list {
  list-style: none;
  display: flex;
  gap: 24px;
}
.team-item {
  background-color: #ffffff;
  width: calc((100%-72px) / 4);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}

.team-photo-card {
  padding: 32px 16px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-text-color);
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--second-text-color);
  letter-spacing: 0.02em;
}

/*-------------------------------FOOTER--------------------------------------*/
.footer {
  background-color: var(--bacground-color);
  padding: 100px 0;
}

.footer-container {
  display: inline-block;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-color-text);
  text-transform: uppercase;
  margin-top: 16px;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
  width: 264px;
}
.footer-span {
  color: var(--section-bacground-color);
}

/*!--------------------------------------------------------PORTFOLIO---------------------------------------------------*/

.header {
  box-sizing: border-box;
  border-bottom: 1px solid #e7e9fc;
}

.header-navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
  margin: auto;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--accent-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-list {
  list-style: none;
  text-decoration: none;
  color: var(--main-text-color);
  gap: 40px;
}

.header-container {
  display: flex;
  align-items: center;
  padding-bottom: 35px;
}

.header-menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
  letter-spacing: 0.02em;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
}

.header-menu-link:is(:hover, :focus) {
  color: #404bbf;
}

.header-contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--second-text-color);
  letter-spacing: 0.02em;
  margin-left: auto;
}

.header-contacts-list {
  display: flex;
  gap: 40px;
}

.header-contacts-item {
}

.header-contacts-link {
  font-size: 16px;
  line-height: 1.5;
  color: var(--second-text-color);
}
.header-contacts-link:is(:hover, :focus) {
  color: #404bbf;
}
/*-------------------------------MAIN--------------------------------------*/

.main-content {
  padding: 96px 0 120px 0;
}

.main-buttons {
  margin: auto;
  border: none;
}

.main-btn-list {
  list-style: none;
  display: flex;
  gap: 24px;
  justify-content: center;
}
.main-btn-item {
  padding: 96px 0 72px 0;
}

.main-btn-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
  background-color: var(--footer-text-color);
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
}
.main-btn-link:is(:hover, :focus) {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  border: none;
}
.wrapper {
}

.main-wrap {
}

.main-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.main-item {
  text-decoration: none;
  list-style: none;
  width: calc((100% - 48px) / 3);
  column-gap: 24px;
  row-gap: 48px;
}

.main-item-link {
  text-decoration: none;
}
.main-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin: 32px 0 8px 0;
}
.main-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  padding-bottom: 48px;
}

/*-------------------------------FOOTER--------------------------------------*/
.footer {
  background-color: var(--bacground-color);
  padding: 100px 0;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--accent-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  margin-bottom: 16px;
}
.footer-text {
  color: var(--footer-text-color);
  font-size: 16px;
  color: var(--footer-text-color);
  line-height: 1.5;
  width: 264px;
}
.footer-span {
  color: #f4f4fd;
}
